---
import Logo from "@/components/Logo.astro"
import AdminLayout from "@/layouts/AdminLayout.astro"
import { LoginForm } from "@react/LoginForm"
---

<AdminLayout title="Login - Panel FB">

	<div class="flex h-screen w-full items-center justify-center">
		<a href="/" class="absolute left-10 top-10">
			<Logo />
		</a>
		<LoginForm client:load />
	</div>
</AdminLayout>
