---
import Contact from "@components/Contact.astro"
import Logo from "@components/Logo.astro"
import { FooterCategories } from "@react/FooterCategories"
import { Redes } from "@react/Redes"
---

<Contact />

<footer class="mx-auto my-16 flex max-w-5xl flex-col gap-5 px-6 text-white sm:flex-row">
	<div>
		<a href="/"> <Logo /></a>
		<div class="mt-2 flex h-8 gap-2">
			<Redes transition:persist client:load />
		</div>
		<p class="mt-4 w-full text-balance text-sm font-normal leading-4 opacity-35 sm:mt-10">
			Las fotos son para fines ilustrativos. Las especificaciones técnicas y descripciones están
			sujetas a cambios sin previo aviso.
		</p>
	</div>
	<div class="flex w-full justify-end gap-2 sm:gap-20">
		<article>
			<b>Productos Top</b>
			<ul class="mt-2 flex flex-col gap-1">
				<FooterCategories transition:persist client:load />
			</ul>
		</article>
		<article>
			<b>Informaciones</b>
			<ul>
				<li><a href="/#sobre-nosotros">Sobre Nosotros</a></li>
				<li><a href="/#nuestro-diferencial">Nuestros diferenciales</a></li>
				<li><a href="/productos">Nuestros Productos</a></li>
				<li><a href="#contacto">Contacto</a></li>
			</ul>
		</article>
	</div>
</footer>
