---
interface Props {
	id: number
	title: string
	visibility?: number
	image: string
}
import { Image } from "@nextui-org/react"

const { visibility = 70, title, id, image }: Props = Astro.props
---

<div
	class="relative size-56 overflow-hidden rounded-[41px] bg-customOrange-500"
	style="box-shadow: rgba(0, 0, 0, .4) -15px 15px 30px 10px;"
>
	<div
		style={{
			backgroundImage: `linear-gradient(to top, var(--tw-gradient-stops)${visibility}%);`,
		}}
		class={`w-full  z-20 h-full absolute  from-black/80 `}
	>
	</div>
	{
		title && id && (
			<a
				href={`/productos/${id}`}
				class="pointer-events-auto absolute bottom-4 left-1/2  z-20 w-[80%] -translate-x-1/2 truncate rounded-2xl bg-customBlue-500 px-3 py-2 text-center text-2xl text-white transition-all hover:-translate-y-2 hover:bg-customBlue-400"
			>
				¿{title}?
			</a>
		)
	}
	<Image
		width={224}
		height={224}
		className="size-56 bg-customOrange-500  object-cover "
		src={`${image}`}
		client:load
	/>
</div>
