---
import { ProductCarousel } from "@/components/react/Carousel"
import ShowMoreButton from "@components/ShowMoreButton.astro"
import ShowMoreIcon from "@icons/ShowMoreIcon.astro"
---

<div class="mb-3 mt-12 flex w-full justify-end">
	<ShowMoreButton href="/productos/">
		<p class="text-[18px]">Ver más</p>
		<ShowMoreIcon />
	</ShowMoreButton>
</div>

<ProductCarousel client:idle />
