---
import Arrow from "@icons/Arrow.astro"
interface Props {
	id: Number
	shortName: string
	imageUrl: string
}

const { id, shortName, imageUrl }: Props = Astro.props
---

<article class="relative h-44 w-full max-w-44 overflow-hidden rounded-[34px]">
	<a
		class="absolute -right-[1.2rem] -top-[1.2rem] flex size-[70px] items-end rounded-bl-[35px] rounded-br-[30px] rounded-tl-[30px] bg-customOrange-500 p-4 transition-all hover:scale-110 hover:bg-customOrange-400"
		href={`/productos/${id}`}
	>
		<Arrow />
	</a>
	<div
		class="size-full from-black/60 bg-cover bg-center"
		style={{
			backgroundImage: `linear-gradient(to top, #000 0%,var(--tw-gradient-stops)80%) , url(${imageUrl});`,
		}}
	>
	</div>
	<a
		href={`/productos/${id}`}
		class="absolute bottom-4 left-1/2 flex w-[80%] -translate-x-1/2 items-center justify-center gap-1 rounded-xl bg-customBlue-500 px-2 py-1 text-center text-lg text-white transition-all hover:scale-105 hover:bg-customBlue-400"
	>
		<span>¿</span>
		<h3 class="truncate">
			{shortName}
		</h3>
		<span>?</span>
	</a>
</article>
