---
interface Props {
	href: string
}
const { href }: Props = Astro.props
---

<a
	href={href}
	class="flex items-center justify-center gap-1 rounded-xl bg-customOrange-500 px-3 py-1 text-white transition-colors hover:bg-customOrange-400"
>
	<slot />
</a>
