---
import SectionResize from "@components/SectionResize.astro"
---

<SectionResize id="sobre-nosotros" className=" ">
	<div
		class="items-centers relative flex h-48 w-full justify-between rounded-[2rem] bg-white sm:h-60"
	>
		<div class="flex flex-col justify-center p-9 sm:max-w-xs lg:max-w-sm lg:px-12 lg:py-12">
			<h2 class="text-2xl font-bold leading-4 text-customBlue-500 sm:text-[30px]">
				Sobre nosotros
			</h2>
			<p class="mt-3 text-sm leading-4 text-black sm:text-base">
				Alquiler, fabricación y venta de equipos para construcción.
			</p>
		</div>

		<div
			class="absolute -right-3 top-[65%] size-24 rounded-full bg-customOrange-500 sm:right-3 sm:block sm:size-52 sm:-translate-y-[45%] lg:hidden"
		>
			<div class="relative size-full">
				<img src="/images/manOk.png" loading="lazy" class="mask absolute bottom-3" alt="" />
			</div>
		</div>

		<svg
			width="350px"
			height="100%"
			viewBox="0 0 502 333"
			fill="none"
			class="absolute -right-0 top-0 hidden lg:block"
			xmlns="http://www.w3.org/2000/svg"
		>
			<rect
				x="-11"
				y="140.629"
				width="383.259"
				height="383.259"
				rx="31"
				transform="rotate(-30 -11 140.629)"
				fill="#DB500B"></rect>
		</svg>
		<img
			loading="lazy"
			class="absolute bottom-0 right-10 hidden h-80 w-auto lg:block"
			src="/images/manOk.png"
		/>
	</div>
</SectionResize>
