---
import SectionResize from "@components/SectionResize.astro"
---

<SectionResize id="sobre-nosotros" className=" ">
	<div class="items-centers relative flex h-60 w-full justify-between rounded-[2rem] bg-white">
		<div class="max-w-xs p-9 sm:max-w-xs lg:max-w-sm lg:px-12 lg:py-12">
			<h2 class="text-[30px] font-bold leading-8 text-customBlue-500">Sobre nosotros</h2>
			<p class="mt-3 leading-5 text-black">
				SOLUTION es una empresa especializada en la comercialización de productos agrícolas,
				agrícolas, jardinería, hogar y veterinaria.
			</p>
		</div>

		<div
			class="absolute right-3 top-1/2 hidden size-24 rounded-full bg-customOrange-500 sm:right-3 sm:block sm:size-52 sm:-translate-y-[45%] lg:hidden"
		>
			<div class="relative size-full">
				<img src="/images/manOk.png" loading="lazy" class="mask absolute bottom-3" alt="" />
			</div>
		</div>

		<svg
			width="350px"
			height="100%"
			viewBox="0 0 502 333"
			fill="none"
			class="absolute -right-0 top-0 hidden lg:block"
			xmlns="http://www.w3.org/2000/svg"
		>
			<rect
				x="-11"
				y="140.629"
				width="383.259"
				height="383.259"
				rx="31"
				transform="rotate(-30 -11 140.629)"
				fill="#DB500B"></rect>
		</svg>
		<img
			loading="lazy"
			class="absolute bottom-0 right-10 hidden h-80 w-auto lg:block"
			src="/images/manOk.png"
		/>
	</div>
</SectionResize>
