---
import ViewTransitions from "astro/components/ViewTransitions.astro";

import "@/styles/panel.css";

interface Props {
  title: string;
  animation?: boolean;
}

const { title, animation = true } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Panel"}</title>
    {animation && <ViewTransitions />}
  </head>
  <body class="h-screen">
    <slot />
  </body>
</html>
